<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
        </title>
    </head>
    <body>
        <h2> {{ qustion }} </h2>
        {% for answer in answers %}
        <h3> {{ answer }} </h3>
        {% endfor %}
        <h3> 
        
        <form method = "POST" action="/setup_finder_UI/test"> {% csrf_token %}
             <input type="submit">  Enter your parameter : <input type="text" name="user_answer" placeholder="Your input value"><br><br> </form>
    </body>
</html>
